{% extends 'base.html' %}

{% block title %}
    <title>Edit</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em; color: white;"><b>
        Edit Student Information
    </b></h1>

    <form action="" method="POST" enctype="multipart/form-data" style="color: white;">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-primary">
        <p>
        </br>
        <a href="{% url 'students-list' %}" style="color: white;"> <b><-- Go back</b></a>
        </p>
    </form>
{% endblock content %}